<%= form_for(@trust_me_not) do |f| %>
  <% if @trust_me_not.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trust_me_not.errors.count, "error") %> prohibited this trust_me_not from being saved:</h2>

      <ul>
      <% @trust_me_not.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :due %><br>
    <%= f.date_select :due %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
